## Numbers and Boolean Values

Create a variable equal to "True".

In [6]:
value=True

Check its type.

In [5]:
type(value)

bool

Create a variable equal to 99.

In [11]:
num=99
type(num)

int

Check its type.

In [12]:
type(num)

int

Check the type of the value 0.99.

In [13]:
num1=0.99
type(num1)

float

Turn 99 into a *float*.

In [15]:
num2=99
num3=float(num2)
print(num3)

99.0

Turn 0.99 into an integer. What value did you get?

In [16]:
num4=int(0.99)
print(num4)

0